body { 
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 30px;
}

label{
    font-weight: bold;
    float: left;
}

.size{
    font-size: 15px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 30px;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
}

button:hover{
    opacity: 0.8;
}

.container {
    padding: 16px;
}

/* background */
.back {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

/* Content */
.content {
    padding: 15px 20px 30px 20px;
    background-color: #fefefe;
    margin: 5% auto 15%; /* 5% top, 15% bottom and centered */
    border: 1px solid #888;
    width: 50%;
    border-radius: 20px;
    text-align: center;
}

hr{
    width: 80%;
    border-width: 2px;
    margin: 21px auto;
}

.abcRioButton {
    margin: auto;
}

/* Zoom Animation */
.animate {
    animation: zoom 0.6s
}

@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
